body{
    
    font-family: Arial, sans-serif;
}
#image {
    display:flex;


}
#learn{
   flex-direction: column;
   margin-top: 10px;

}
img{
    margin: 20px;
    margin-top: 5px;
    border: 4px solid  rgb(115, 127, 249);
    padding: 3px;

}
span {
    color: rgb(115, 127, 249) ;

}
button{
    background-color: rgb(115, 127, 249);
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
p {
    margin-bottom: 30px
}
